
.hshs {
    color: red !important;
}

.btn.button-bottom-crud {
    margin-top: 30px;

    font-size: 25px;
    width: 40%;
    margin-left: 49%;
}
tr:nth-child(n) {background-color: #8d86ca;}
tr:nth-child(2n) {background-color: #cbdbe0;}